
#PASS ul,#PASS li {
list-style-type:none;
margin-left: -12px;}     
label { color:#52524E;}
#container span {
	/*background:#f6f6f6;
	padding:3px 5px;
	display:block;
	border-radius:5px;
	margin-top:5px;*/}
#pswd_info {
	background: none repeat scroll 0 0 #fefefe;
	border: 1px solid #ddd;
	border-radius: 5px;
	bottom: -129px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	font-size: 0.875em;
	padding: 15px;
	position: absolute;
	right: 47px;
	width: 235px;
	z-index: 200;}
#pswd_info h4 {
	margin:0 0 10px 0;
	padding:0;
	font-weight:normal;}
#pswd_info::before {
	content: "\25B2";
	position:absolute;
	top:-13px;
	left:45%;
	font-size:14px;
	line-height:14px;
	color:#ddd;
	text-shadow:none;
	display:block;}
.invalid {
	background:url(../img/no-seleccion.png) no-repeat 0 50%;
	padding-left: 29px;
	line-height: 24px;
	color: #a94442;}
.valid {
	background:url(../img/seleccion.png) no-repeat 0 50%;
	padding-left:29px;
	line-height:24px;
	color:#3c763d;}
#pswd_info {display:none;}
.control-label1 {
	color: #52524E;
	font-family: "RobotoCondensed",Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: 300 !important;
	margin: 0;
	text-align: left;}