<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="es-MX"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="es-MX"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="es-MX"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie js osx  csstransforms no-csstransforms3d csstransitions" lang="es-MX">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--[if (gte IE 9)|!(IE)]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <![endif]-->

    <title>T-Manager :: CEMEX</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="title" content="T-Manager :: CEMEX">
    <meta name="DC.title" content="T-Manager :: CEMEX">
    <meta http-equiv="title" content="T-Manager :: CEMEX">

    <meta name="description" content="Web Based Application T-Manager">
    <meta http-equiv="description" content="Web Based Application T-Manager">
    <meta http-equiv="DC.Description" content="Web Based Application T-Manager">
    <meta name="author" content="Telstock, S.A. de C.V., 2016">
    <meta name="copyright" content="Telstock, S.A. de C.V., 2016">
    <meta name="DC.Creator" content="Lic. Luis Alberto Acevedo Rojas, Ing. Arturo López Vásquez">
    <meta name="Designer" content="Vanessa Alejandra Muñoz Corbalá">
    <meta name="DC.Language" scheme="RFC1766" content="español">
    <meta name="DC.Language" content="es,sp,spanish,español">
    <meta http-equiv="DC.Language" content="es,sp,spanish,español">
    <meta http-equiv="Content-Language" content="es,sp,spanish,español">
    <meta name="language" content="es,sp,spanish,español">
    <meta http-equiv="language" content="spanish">
    <meta name="distribution" content="global">
    <meta http-equiv="Pragma" content="cache">
    <meta name="Revisit" content="7 days">
    <meta name="VW96.objecttype" content="Document">
    <meta name="resource-type" content="Document">
    <!--================= Inicia Prohibición a Buscadores ==================-->
    <link rel="posicionamiento en buscadores" content="http://www.telstock.net" />
    <meta name="robots" content="noindex,nofollow">
    <!--en Google-->
    <meta name="googlebot" content="noindex,nofollow">
    <!--en Yahoo-->
    <meta name="slurp" content="noindex,nofollow">
    <!--en Bing-->
    <meta name="msnbot" content="noindex,nofollow">
    <!--================= Termina Autorización a Buscadores ==================-->
    <!--================= Isotipo para Navegadores Modernos ==================-->
    <link rel="shortcut icon" href="~/Content/img/favicons/favicon.png" type="image/x-icon">
    <link rel="icon" type="image/png" href="~/Content/img/favicons/favicon.png">
    <!--================= Isotipo para Navegadores Anteriores ==================-->
    <link rel="icon" href="~/Content/img/favicons/favicon.ico" type="image/x-icon">
    <!-- Icono de Webpage para Web Clip -->
    <link rel="apple-touch-icon" href="~/Content/img/splash/sptouch-icon-iphone.png">
    <!-- Para iPhone, iPod Touch sin Retina, & Android 2.1+:"-->
    <link rel="apple-touch-icon" href="~/Content/~/Content/img/favicons/touch-icon-iphone-60.png">
    <!-- Para iPad mini & 1ª - 2ª generación iPad iOS ≤ 6: -->
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/~/Content/img/favicons/touch-icon-iphone-72.png">
    <!-- Para iPad mini & 1ª - 2ª generación iPad iOS ≥ 7: -->
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/~/Content/img/splash/touch-icon-ipad.png">
    <!-- Para iPhone con Retina iOS ≥ 7: -->
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/~/Content/img/splash/touch-icon-iphone-retina.png">
    <!-- Para iPad con Retina iOS ≥ 7: -->
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/~/Content/img/splash/touch-icon-ipad-retina.png">
    <!-- Para Chrome v31+ & Android ≤2.1:"-->
    <link rel="icon" sizes="196x196" href="~/Content/~/Content/img/splash/favicon-196.png">
    <!-- Splash para web app -->
    <link rel="apple-touch-startup-image" href="~/Content/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="~/Content/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="~/Content/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

    <!-- iOS web-app metas -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Titulo Home Screen -->
    <meta name="apple-mobile-web-app-title" content="T-Manager :: CEMEX">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        [if lt IE 9]>
          <script src="~/Content/js/html5/html5shiv.min.js"></script>
          <script src="~/Content/js/html5/respond.min.js"></script>
        <![endif]-->
    <!--================= Inician Estilos ==================-->
    <!--====================================================-->
    <!--******************** Animación *********************-->
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/animate/animate.css">
    <!--******************** Bootstrap *********************-->
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/bootstrap/bootstrap.min.css">
    <!--******************** Iconos *********************-->
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/fonts/fontAwesome/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/fonts/glyphicons/glyphicons.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/fonts/icon/icons.css">
    <!--******************** Tipografía *********************-->
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/fonts/default/default.css">
    <!--********************** Layout **********************-->
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/main/main.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/notification/smart.notify.reload.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/notification/SmartNotification.css">
    <!--********************** Select2 **********************-->
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/select2/select2.css">
    <!--****************** Tema CEMEX ******************-->
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/temas/CEMEX/iconografia.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/temas/CEMEX.css">
    <!--****************** dataTables ******************-->
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/dataTables/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/dataTables/responsive.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/dataTables/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/dataTables/buttons.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/dataTables/dataTableCustom.css">
    <!--================ Terminan Estilos ==================-->
</head>
<body>
    <!--================== Inicia Background ===================-->
    <div class="background">
        <!--================== Inicia Header ===================-->
        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="javascript:void(0)" data-toggle="offcanvas" role="button" class="navbar-toggle">
                            <span class="sr-only">Menú</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="navbar-brand" href="javascript:void(0)"><img src="~/Content/css/temas/CEMEX/imagotipoHeader.png"></a>
                    </div>
                    <ul class="nav nav-pills pull-right">
                        <!--Inicia Notificaciones -->
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i><span class="badge red">1</span></a>
                            <ul class="dropdown-menu dropdown-scroll dropdown-notif pull-right">
                                <li class="dropdown-header">
                                    <i class="fa fa-bell"></i> Notificaciones
                                </li>

                                <li id="notificaciones">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="javascript:void(0)" class="unread">
                                                <div class="row">
                                                    <div class="col-xs-2">
                                                        <i class="gi-bell unattended"></i>
                                                    </div>
                                                    <div class="col-xs-10">
                                                        Usuario remitente: <span>Texto...</span>
                                                        <p class="small">
                                                            <i class="gi-clock"></i> 30 de mes de 2016 12:12 A.M
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" class="read">
                                                <div class="row">
                                                    <div class="col-xs-2">
                                                        <i class="gi-bell resolved"></i>
                                                    </div>
                                                    <div class="col-xs-10">
                                                        Usuario remitente: <span>Texto...</span>
                                                        <p class="small">
                                                            <i class="gi-clock"></i> 30 de mes de 2016 12:12 A.M
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-footer">
                                    <form>
                                        <span class="col-xs-7"> Última actualización:<br> 16/08/2016 9:59 A.M </span>
                                        <span class="col-xs-5">
                                            <button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Cargando..." class="btn btn-xs btn-default pull-right">
                                                <i class="fa fa-refresh"></i>
                                            </button>
                                        </span>
                                    </form>
                                </li>
                            </ul>
                        </li>
                        <!--Termina Notificaciones-->
                        <!-- Inicia Pantalla Completa -->
                        <li class="hidden-xs"><a href="javascript:void(0)" onclick="launchFullscreen(document.documentElement);"><i class="fa fa-arrows-alt"></i></a></li>
                        <!--Termina Pantalla Completa -->
                        <!--Inicia Reset -->
                        <li class="hidden-xs"><a href="javascript:void(0)" id="reset" class="btn-reset"><i class="fa fa-magic"></i></a></li>
                        <!--Termina Reset -->

                        <li class="divider-vertical hidden-xs"></li>

                        <!--Inicia Cerrar Sesión  -->
                        <li><a class="logout-js" target="_self" href="javascript:void(0)"><i class="fa fa-power-off"></i></a></li>
                        <!--Termina Cerrar Sesión  -->
                    </ul>
                </div>
            </nav>
        </header>
        <!--================== Termina Header ===================-->
        <!--================= Inicia Contenido ==================-->
        <div class="row row-offcanvas row-offcanvas-left active icons" role="main" id="main">
            <div id="content" class="container">
                <aside class="sidebar-offcanvas" id="sidebar" role="navigation">
                    <div class="userProfile">
                        <div class="userPhoto">
                            <img src="~/Content/img/avatar/avatarHombre.png" alt="Avatar Sistema" title="Avatar Sistema">
                        </div>
                        <h5>Bienvenido</h5>
                        <h3>Nombre de Usuario</h3>
                        <a href="javascript:void(0)"><i class="menu-password"></i> Cambiar contraseña</a>
                    </div>

                    <nav class="menu">
                        <ul class="nav" id="sideMenu">
                            <li class="panel"> <a href="~/Content/home.htm"> <i class="menu-home"></i> Inicio </a> </li>
                            <li class="panel">
                                <a href="javascript:void(0)" class="collapsed" id="menu1" data-toggle="collapse" data-parent="#sideMenu" data-target="#submenu1" aria-expanded="false">
                                    <i class="menu-agenda"></i>
                                    Plan Táctico Semanal
                                </a>
                                <ul class="nav collapse" id="submenu1" role="menu" aria-labelledby="menu1">
                                    <li><a href="javascript:void(0)">Plan Táctico Semanal</a></li>
                                    <li><a href="javascript:void(0)">Agenda de Vendedor</a></li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="javascript:void(0)" id="menu2" data-toggle="collapse" data-parent="#sideMenu" data-target="#submenu2" aria-expanded="false">
                                    <i class="menu-ventas"></i>
                                    Gestión de Ventas
                                </a>
                                <ul class="nav collapse" id="submenu2" role="menu" aria-labelledby="menu2">
                                    <li><a href="javascript:void(0)">Status de Proceso</a></li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="javascript:void(0)" id="menu3" data-toggle="collapse" data-parent="#sideMenu" data-target="#submenu3" aria-expanded="false">
                                    <i class="menu-prospeccion"></i>
                                    Prospección
                                </a>
                                <ul class="nav collapse" id="submenu3" role="menu" aria-labelledby="menu3">
                                    <li><a href="javascript:void(0)">Nuevo Prospecto</a></li>
                                    <li><a href="javascript:void(0)">Consultar Prospectos</a></li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="javascript:void(0)" id="menu4" data-toggle="collapse" data-parent="#sideMenu" data-target="#submenu4" aria-expanded="false">
                                    <i class="menu-medicion"></i>
                                    Reportes
                                </a>
                                <ul class="nav collapse" id="submenu4" role="menu" aria-labelledby="menu4">
                                    <li><a href="javascript:void(0)">Consultar Reportes</a></li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="javascript:void(0)" id="menu5" data-toggle="collapse" data-parent="#sideMenu" data-target="#submenu5" aria-expanded="false">
                                    <i class="menu-ayuda"></i>
                                    Ayuda
                                </a>
                                <ul class="nav collapse" id="submenu5" role="menu" aria-labelledby="menu5">
                                    <li><a href="javascript:void(0)">Consultar Ayuda</a></li>
                                </ul>
                            </li>
                            <li class="panel">
                                <a href="javascript:void(0)" id="menu6" data-toggle="collapse" data-parent="#sideMenu" data-target="#submenu6" aria-expanded="false">
                                    <i class="menu-configuracion"></i>
                                    Configuración
                                </a>
                                <ul class="nav collapse" id="submenu6" role="menu" aria-labelledby="menu6">
                                    <li><a href="javascript:void(0)">Carga Masiva</a></li>
                                    <li><a href="javascript:void(0)">Catálogos</a></li>
                                    <li><a href="javascript:void(0)">Administración de Usuarios</a></li>
                                    <li><a href="javascript:void(0)">Administración de Roles</a></li>
                                    <li><a href="javascript:void(0)">Administración de Móviles</a></li>
                                    <li><a href="javascript:void(0)">Administración de Empresas</a></li>
                                </ul>
                            </li>
                            <li class="panel"> <a class="logout-js" target="_self" href="javascript:void(0)"> <i class="menu-salir"></i> Salir </a> </li>
                        </ul>
                    </nav>
                </aside>
                @RenderBody()
            </div>
        </div>
        <!--================= Termina Contenido ==================-->
    </div>
    <!--================== Termina Background ===================-->
    <!--=================== Inicia Footer ====================-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 logo">
                    <a href="~/Content/index.htm" target="_self">
                        <img src="~/Content/img/main/imagotipoFooter.png" alt="T-Manager by TelStock = Know How + Innovation" title="by TelStock = Know How + Innovation" />
                    </a>
                    <hr class="visible-xs" />
                </div>
                <div class="col-sm-6 col-md-6 copy">
                    <p>
                        T-Manager versión 1.0
                        <br>
                        Telstock, S.A. de C.V. :: Todos los Derechos Reservados :: 2013 - 2016©
                        <br>
                        Monterrey   ::   Ciudad de México   ::   Suiza
                        <br>
                        <a rel="external" href="~/Content/mailto:soporte_lv1@telstock.net" target="_blank">
                            <i class="gi-headset"></i>soporte_lv1@telstock.net
                        </a>
                        <span>
                            <i class="gi-earphone"></i> +52-55-5395-6828
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!--=================== Termina Footer ====================-->
    <!--================= Bootstrap core JavaScript ==================-->
    <!--==============================================================-->
    <!-- Dejarlos al final del documento para que las páginas carguen más rápido -->
    <script type="text/javascript" src="~/Content/js/libs/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="~/Content/js/libs/jquery-ui-1.10.3.min.js"></script>
    <script type="text/javascript" src="~/Content/js/libs/jquery-migrate-1.3.0.min.js"></script>
    <script type="text/javascript" src="~/Content/js/mobiledevices/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="~/Content/js/mobiledevices/mobiledevices.min.js"></script>
    <script type="text/javascript" src="~/Content/js/sistema/offcanvas.js"></script>
    <script type="text/javascript" src="~/Content/js/slimscroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="~/Content/js/confirm/jquery.confirm.js"></script>
    <!--================== Select 2 ===================-->
    <script type="text/javascript" src="~/Content/js/select2/select2.js"></script>
    <script type="text/javascript" src="~/Content/js/lang/select2/select2_locale_es.js"></script>
    <script type="text/javascript" src="~/Content/js/select2/select2.config.js"></script>
    <!--================== Notification ===================-->
    <script type="text/javascript" src="~/Content/js/notification/SmartNotification.min.js"></script>
    <script type="text/javascript" src="~/Content/js/notification/SmartNotification.config.js"></script>

    <script type="text/javascript" src="~/Content/js/bootstrap/bootstrap.min.js"></script>
    <!--================== Widgets ===================-->
    <script type="text/javascript" src="~/Content/js/widgets/jarvis.widget.min.js"></script>
    <script type="text/javascript" src="~/Content/js/widgets/widgets.config.js"></script>
    <!--================== dataTables ===================
    <!--Archivos necesarios para que la tabla sea responsiva-->
    <script type="text/javascript" src="~/Content/js/dataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/js/dataTables/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/dataTables/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="~/Content/js/dataTables/responsive.bootstrap.min.js"></script>
    <!--Archivos necesarios para la exportación (PDF,Excel)-->
    <script type="text/javascript" src="~/Content/js/dataTables/Export/buttons.colVis.min.js"></script>
    <script type="text/javascript" src="~/Content/js/dataTables/Export/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/Content/js/dataTables/Export/jszip.min.js"></script>
    <script type="text/javascript" src="~/Content/js/dataTables/Export/pdfmake.min.js"></script>
    <script type="text/javascript" src="~/Content/js/dataTables/Export/vfs_fonts.js"></script>
    <script type="text/javascript" src="~/Content/js/dataTables/Export/buttons.html5.min.js"></script>

    <script type="text/javascript" src="~/Content/js/sistema/config.js"></script>
    <script type="text/javascript">
        var table = $("#admonUsuarios").DataTable({
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            dom: 'lBftip',
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            paging: true,
            buttons: [
                {
                    title: 'Archivo PDF',
                    filename: 'Archivo PDF',
                    orientation: 'landscape',
                    extend: 'pdfHtml5',
                    text: 'PDF',
                    pageSize: 'LEGAL',
                    footer: true,
                    exportOptions: {
                        modifier: {
                            page: 'all'
                        }
                    },
                    customize: function (doc) { doc.pageMargins = [5, 20, 5, 20]; }
                },
                {
                    filename: 'Archivo Excel',
                    extend: 'excelHtml5',
                    text: 'Excel',
                    footer: true,
                    exportOptions: {
                        modifier: {
                            page: 'all'
                        }
                    },
                    sheetName: 'Archivo Excel'
                }
            ]
        });

        ///Carga el Plugin en los controles Select al desplegar la fila seleccionada (Búsqueda Predictiva).
        table.on('responsive-display', function (e, datatable, row, showHide, update) {
            if (showHide) {
                //$('table tbody tr td ul li select').addClass('with-search')
                $('table tbody tr td ul li select').select2()
            }
        });
        $('table tbody tr td ul li select, select.with-search').select2()
    </script>
</body>
</html>